In [1]:
import pandas as pd

In [2]:
aircraft = pd.read_csv('aircraft_dim.csv')

In [4]:
aircraft.sample(5)

,Unnamed: 0,N-Number,AircraftMFRModelCode,Year Mfr,TypeAcft,mfr_name,model_name,type,num_engines,num_passengers
383,31155,N948SW,1390008,2003.0,5,BOMBARDIER INC,CL-600-2B19,5,2,55
4084,281149,N709DN,1385278,2010.0,5,BOEING,777-232LR,5,2,442
3455,242559,N994DL,3023689,1991.0,5,MCDONNELL DOUGLAS CORPORATION,MD-88,5,2,142
1564,153518,N867DA,1385232,2002.0,5,BOEING,777-232,5,2,400
429,31257,N459SW,1390008,2003.0,5,BOMBARDIER INC,CL-600-2B19,5,2,55

In [8]:
aircraft['type'].dtype, aircraft['num_engines'].dtype, aircraft['num_passengers'].dtype

(dtype('int64'), dtype('int64'), dtype('int64'))

In [13]:
aircraft['model_name'].unique()

array(['150', 'PA-23-250', '550', '737-7H4', 'PA-28-180', 'SR22', 'R66',
       'CL-600-2B19', 'A320-232', 'CL-600-2D24', '510', '172M', 'A-1B',
       '737-3Y0', 'A185F', '767-424ER', 'DA 40', 'EMB-145LR', '206B',
       '390', 'A321-231', '737-890', 'A36', 'G-IV', 'CL-600-2C10',
       'A319-115', 'A319-132', '767-324', 'FALCON 900 EX', '737-790',
       'PA-31-350', 'EMB-145XR', '777-232', '737-3H4', '737-932ER',
       '737-924ER', '172E', 'A320-214', 'GVI (G650)', 'PA-34-220T',
       'ERJ170-200LR', 'MD-90-30', 'TBM 700', '757-231', 'GV-SP (G550)',
       '210-5(205)', '737-7BD', '757-224', '737-76N', 'A330-243',
       'A319-112', '35-33', 'A319-114', '35-B33', 'DC-9-82(MD-82)',
       'E-90', '737-7Q8', '737-3Q8', '737-8H4', 'P35', 'A320-212',
       'MD-88', '60', 'DC-9-83(MD-83)', 'A330-223', '421C', '757-222',
       'ERJ 190-100 IGW', '737-7CT', '767-33A', '757-232', '501',
       '737-724', 'EMB-145', '737-705', 'EMB-120ER', 'A320-231',
       'PA-32RT-300', '757-26D', '737-824', '757-2B7', '717-200',
       'A321-211', '787-8', '737-8FH', '767-323', '737-76Q', 'F1',
       'G1159B', '737-73V', '787-9', '737-752', '757-251', '777-222',
       '757-351', '737-832', '737-79P', '757-2Q8', '757-28A', '737-71Q',
       '737-990ER', 'EMB-135LR', '737-3T5', '767-322', '737-990',
       '767-332', '737-732', '747-422', 'A319-111', '737-7L9', '777-224',
       'A330-302', '737-7V3', '757-223', '737-5H4', '767-201', 'A319-131',
       '737-3L9', '757-23N', '737-700', '757-212', 'S-76A', '737-4Q8',
       '737-301', '727-223', 'A330-323', 'DC-7BF', '767-2B7', '757-33N',
       'A320-211', 'EMB-120', '737-3A4', '757-2S7', 'FALCON XP',
       '757-2G7', 'ZODIAC 601HDS', '747-451', '767-3P6', '767-432ER',
       '737-490', '737-3TO', '737-7AD', '737-924', '737-4S3', '737-3K2',
       '767-3CB', '737-3G7', '757-324', 'EA-400', '777-232LR',
       'FALCON-XP', '737-7K9', '737-7BX', 'DOMINATOR', 'KITFOX IV'],
      dtype=object)

In [11]:
aircraft['model_name'].astype('str')

0             150
1       PA-23-250
2       PA-23-250
3             550
4         737-7H4
          ...
4094      737-7BX
4095      737-7BX
4096      737-7BX
4097    DOMINATOR
4098    KITFOX IV
Name: model_name, Length: 4099, dtype: object

In [14]:
flights = pd.read_csv('flights_fact.csv')

/var/folders/v7/cd7r3hf1229b9tnytv_qr8hm0000gn/T/ipykernel_16770/4171228840.py:1: DtypeWarning: Columns (3,4) have mixed types. Specify dtype option on import or set low_memory=False.
  flights = pd.read_csv('flights_fact.csv')

In [19]:
flights['ORIGIN_AIRPORT'].str.len().unique()

array([ 3.,  5., nan])

In [20]:
flights.head(4)

,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,scheduledDeparture_key,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,WHEELS_OFF,...,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY,dateKey
0,AS,98,N407AS,ANC,SEA,5,2354.0,-11.0,21.0,15,...,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,20150101
1,AA,2336,N3KUAA,LAX,PBI,10,2.0,-8.0,12.0,14,...,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,20150101
2,US,840,N171US,SFO,CLT,20,18.0,-2.0,16.0,34,...,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,20150101
3,AA,258,N3HYAA,LAX,MIA,20,15.0,-5.0,15.0,30,...,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,20150101